.legend {
  position: relative;
  padding: 10px;
  bottom: 10px;
  text-align: center;
}

.legend-square {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 50px;
  vertical-align: middle;
}

.form-check-input:checked + .form-check-label {
  text-decoration: line-through;
}


.bg-low {
  background-color: #28a745;
}

.bg-medium {
  background-color: #ffc107;
}

.bg-high {
  background-color: #dc3545;
}
