<!DOCTYPE html>
{%extends "layout.html" %}

{% block content %}
<div class="d-flex justify-content-center">
    
    <h1>About - Task Genie</h1>

</div>

<div class="d-flex justify-content-center mx-5">
    
    <p>Welcome to Task Genie, the task management app that will help you stay organized and on top of your to-do list. 
    Task Genie is a project that I am developing on my own, with the goal of perfecting my Flask development skills, 
    as well as my understanding of data structures (specifically, linked lists), and Bootstrap.</p>

</div>

{% endblock content %}