<!DOCTYPE html>
{%extends "layout.html" %}

{% block content %}

<div class="container my-5">
  <ol class="list-group list-group-numbered">
    <div class="container my-5">
      {% set task = namespace(node = tasks.head) %}
      {% for _ in range(tasks.size()) %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div style="font-weight: bold;">{{task.node.data.title}}</div>
            {{task.node.data.description}}
          </div>
          <span class="badge bg-{{task.node.data.priority}} rounded-pill">{{task.node.data.due}} </span>
          {% set task.node = task.node.next_node %}
        </li>
    {% endfor %}
  </ol>
</div>

<div class="legend my-5">
  Low Priority <span class="legend-square bg-low"></span>
  Medium Priority <span class="legend-square bg-medium"></span>
  High Priority <span class="legend-square bg-high"></span>
</div>




{% endblock content %}